<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href={{url_for('static',filename='predictor.css')}}>
    <title>Rain Prediction</title>
</head>
<body>
    <section id="prediction-form">
        <form class="form" action="/predict", method="POST">
            <h1 class="my-3 text-center">Predict for rain</h1>
            <div class="row">
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="Year" class="Year">Year</label>
                        <input type="text" class="form-control" id="Year" name="Year" placeholder="yyyy">
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="Month" class="Month">Month</label>
                        <input type="text" class="form-control" id="Month" name="Month" placeholder="mm">
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="Day" class="Day">Day</label>
                        <input type="text" class="form-control" id="Day" name="Day" placeholder="dd">
                    </div>
                </div>
               
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="Location" class="date">Location</label>
                       <!-- <input type="text" class="form-control" id="Location" name="Location"> -->
                    
                     <select class="Location form-select" id="Location" name="Location" aria-label="Location">
                        
                        <option value="2">Kathmandu Airport</option>
                        <option value="0">Buddhanilakantha</option>
                        <option value="1">Godavari</option>
                        <option value="3">Nagarkot</option>
                        <option value="4">Panipokhari(Kathmandu)</option>
                        
                    </select> 

                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="min_temp" class="mintemp"> Minimum temprature</label>
                        <input type="text" class="form-control" id="min_temp" name="min_temp">
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="max_temp" class="maxtemp">Maximum Temperature</label>
                        <input type="text" class="form-control" id="max_temp" name="max_temp">
                    </div>
                </div>
                <!-- <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="Rainfall" class="Rainfall">Rainfall</label>
                        <input type="text" class="form-control" id="Rainfall" name="Rainfall">
                    </div>
                </div> -->
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="Humidity" class="humidity">Humidity </label>
                        <input type="text" class="form-control" id="Humidity" name="Humidity">
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                       <label class="RainToday">Did it rain today</label>
                        <select class="RainToday form-select" id="RainToday" name="RainToday" aria-label="Rain Today">
                       
                            <option value= 1>Yes</option>
                            <option value= 0>No</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-12  my-4 d-flex align-items-end justify-content-end me-0">
                        <button type="submit" class="btn btn-dark button m-1" style="height: 40px;" >Predict</button>
                    
                    </div>
                   
                </div>
            </div>
        </form>
    </section>
    <div>
         <h1><center>{{ prediction}} </center></h1>
    </div>
    <div class="modal fade" id="predictionModal" tabindex="-1" role="dialog" aria-labelledby="predictionModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="predictionModalLabel">Prediction Result</h5>
                    
                </div>
                <div class="modal-body">
                    <!-- Display the prediction text here -->
                    {{ prediction_text }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="$('#predictionModal').modal('hide')">Close</button>
                    <a href="{{ url_for('email') }}" class="btn btn-secondary" id="sendEmailBtn">Send Email</a>
                </div>
            </div>
        </div>
    </div>
     <!-- Include Bootstrap JS and jQuery -->
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 
     <!-- Script to show the modal popup -->
     <script>
         $(document).ready(function(){
             // Check if the prediction text is not empty, then show the modal popup
             var prediction_text = "{{ prediction_text }}";
             if (prediction_text.trim() !== "") {
                 $('#predictionModal').modal('show');
             }
         });
        
     </script>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>







